# Compiled source #
###################
*.pyc
*.o
*.so

# Specific Files #
##################

/g6k/siever.cpp
/g6k/siever_params.cpp
/svpchallenge/*
/g6k-fplll
/g6k-fpylll
/g6k-env
/activate
/build/
/dist/
/G6K.egg-info/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/g6k.pc
/install-sh
/kernel/.deps/
/kernel/.libs/
*.lo
*~
/kernel/libg6k.la
stamp-h1
/kernel/g6k_config.h
/kernel/Makefile.in
/kernel/Makefile
/m4/lt~obsolete.m4
/m4/ltversion.m4
/m4/ltsugar.m4
/m4/ltoptions.m4
/m4/libtool.m4
/missing
/ltmain.sh
/libtool
/test-driver
