# Compiled source #
###################
*.pyc
*.o
*.so

# Specific Files #
##################

*.lo
*~
/Makefile
/Makefile.in
/aclocal.m4
/activate
/autom4te.cache/
/build/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/dist/
/g6k-env
/g6k-fplll
/g6k-fpylll
/g6k.egg-info/
/g6k.pc
/g6k/siever.cpp
/g6k/siever_params.cpp
/install-sh
/kernel/.deps/
/kernel/.libs/
/kernel/Makefile
/kernel/Makefile.in
/kernel/g6k_config.h
/kernel/g6k_config.h.in
/kernel/libg6k.la
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/svpchallenge/*
/test-driver
stamp-h1
