language: python
python:
  - "2.7"
  - "3.7"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libgmp-dev
      - libmpfr-dev
      - libqd-dev
      - build-essential
      - libtool
      - autoconf
      - python-pip
      - python-dev
      - python-flake8

install:
  - ./install-dependencies.sh
  - pip install Cython
  - pip install -r requirements.txt
  - python setup.py build_ext --inplace

script:
  - LD_LIBRARY_PATH="$VIRTUAL_ENV/lib" python -m pytest

notifications:
  on_success: change
  on_failure: always
